.landingimg{
    box-sizing: border-box;
    background: url(../../src/img/landingsinletras.jpg) no-repeat center center fixed;
    height: 100vh;
    /* max-height: 100%; */
    background-size: cover;
}

.button{
    font-size: 0.75em;
    cursor:pointer;
    border:none;
    background-color: transparent;
    margin-top: 17%;
    margin-left: 0.6%;
    width: 12.5%;
    height: 23.5%;
    border-radius: 50%;
    text-align: center;
}

.button:hover {
    box-shadow: #e61919 0px 25px 50px, #e61919 0px -25px 50px, #e61919 25px 0px 50px, #e61919 -25px 0px 50px;
    background-color: #e61919;
}