.div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}
.ul {
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
    height: 2em; 
    width: 100%;
    list-style: none; 
}
.li {
    margin: 1em;
    padding: 1px;
}
.imgPokemon{
    height: 5em;
}

.divFlag{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}
.flag{
    width: 2em;
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 100%;
}

.flag:hover{
    cursor:pointer;
}

@media (max-width: 600px) {
    .ul {
        padding-left: 0px;
    }
    .li {
      margin: 0px;
    }
    }