.div{
    /* border: 2px solid green; */
    width: 50%;
    height: 100%;
    padding: 1em;
}

.divstatscontainer{
    display:flex;
    justify-content: space-evenly;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.img{
    width: 20em;
}

.inputs{
    background-color: #8080805b;
    border-radius: 5em;
    padding: 0.2em;
}

.divstats{
    display:flex;
    flex-direction: column;
}

.name{
    box-sizing: border-box;
    align-self: center;
    font-family: arial;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 1em;
    color: #000000;
    width: auto;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 5em;
}


.grass {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    
    background-color: #67a30d;
    color: #fff;
}

.poison{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #6d1186;
    color: #fff
}

.fire{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #fd7d24;
    color: #fff
}

.water {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #4592c4;
    color: #fff
}

.bug{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #adff2f;
    
}

.flying {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.normal{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #a4acaf
}

.ground{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.electric {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  

    background-color: #eed535;
}

.fairy {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #fdb9e9
}

.fighting {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #d56723
}

.rock {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #a38c21
}

.steel{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #9eb7b8
}

.ice {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #51c4e7;
}

.ghost {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #7b62a3;
}

.psychic{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #f366b9;
}

.dragon {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.dark {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #707070;
}

.steel {
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #9eb7b8;
}

.unknown { 
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: rgb(65, 61, 61);
    color: #fff
}

.shadow{
    margin: 1em;
    padding-top: 0.2em;
    border-radius: 2em;
    padding-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #3a0449;
    color: #fff
}
